@using Web.Application.ViewModels.Propietario
@model PropietarioViewModel

@using (Ajax.BeginForm("Add", new { controller = "Propietario" }, ajaxOptions: new AjaxOptions() { AllowCache = false, Confirm = "Verifique sus datos antes de guardar\n¿Seguro que desea guardar?", HttpMethod = "Post" }))
{
    @Html.AntiForgeryToken()
    <div id="DivForAdd">
        <div class="modal-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-lg-7">
                    Nombre
                    <div class="input-group">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "NombrePersona", @readonly="readonly" } })
                        <span class="input-group-btn">
                            <button type="button" onclick="PartialAction('@Url.Action("SearchPersona", "CommonSearch")', 'DivForSearch', 'SearchModal', null);" class="btn btn-secondary glyphicon glyphicon-search"></button>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.PersonaId, new { htmlAttributes = new { @class = "form-control", @id = "PersonaId" } })
                        @Html.ValidationMessageFor(model => model.PersonaId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Estado)
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
