@using Common.Entities
@using Web.Application.ViewModels.CommonSearch
@using Web.Custom.HtmlHelper
@model Propietario

@{
    ViewBag.Title = "Propietarios";
}

<h2>Propietarios</h2>
<button type="button" onclick="PartialAction('@Url.Action("Add", "Propietario")', 'DivForAdd', 'AddModal');" class="btn btn-primary">Create</button>
<div id="DivForList">
    @Html.Partial("List", ViewBag.List as List<Propietario>)
</div>

<!-- Modal Edit -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="DetailsModalLabel">Edit Person</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("Edit", "Propietario", routeValues: new { }, ajaxOptions: new AjaxOptions() { AllowCache = false, Confirm = "Verifique sus datos antes de guardar\n¿Seguro que desea guardar?", HttpMethod = "Post" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="DivForEdit">
                        @*@Html.Partial("Edit")*@
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!--<button type="submit" class="btn btn-default">Save</button>-->
                                <input type="hidden" name="btnSubmit" value="btnSubmitEdit" />
                                <button type="submit" class="btn btn-primary btn-submit" id="btnSubmitEdit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Procesando">Save</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Modal Add -->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="AddModalLabel">New</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @Html.Partial("Add")
        </div>
    </div>
</div>
<!-- Modal Details -->
<div class="modal fade" id="DetailsModal" tabindex="-1" role="dialog" aria-labelledby="DetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="DetailsModalLabel">Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DivForDetails">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="DetailsModalLabel">Delete</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DivForDelete">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search -->
<div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="DetailsModalLabel">Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("ListSearchPersona", new { controller = "CommonSearch" }, ajaxOptions: new AjaxOptions() { AllowCache = false, HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "DivForListSearchPersona" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="DivForSearch">
                        @Html.Partial(Url.View("SearchPersona", "CommonSearch"), new SearchPersona())
                    </div>
                    <br />
                }
            </div>
            <div id="DivForListSearchPersona" style="width:100%; overflow-y:auto; max-height: 250px;">
                @Html.Partial(Url.View("ListSearchPersona", "CommonSearch"), new List<Common.Entities.Persona>())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script>
    $('#SearchModal').on('show.bs.modal', function () {
        PartialAction('@Url.Action("ListSearchPersona", "CommonSearch", new { Filtro = "" })', 'DivForListSearchPersona', null, null, 'POST');
    });
</script>
    }