@model IEnumerable<Common.Entities.Persona>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            <button type="button" onclick="PartialAction('@Url.Action("Edit", "PersonaTemp", new { id = item.Id })', 'DivForEdit', 'EditModal');" class="btn btn-primary">Edit</button>&nbsp;&nbsp;
            <button type="button" onclick="PartialAction('@Url.Action("Details", "PersonaTemp", new { id = item.Id })', 'DivForDetails', 'DetailsModal');" class="btn btn-primary">Details</button>&nbsp;&nbsp;
            <button type="button" onclick="PartialAction('@Url.Action("Delete", "PersonaTemp", new { id = item.Id })', 'DivForDelete', 'DeleteModal');" class="btn btn-primary">Delete</button>
        </td>
    </tr>
}
</table>
