@model IEnumerable<Common.Entities.Persona>

<table class="table">
    <tr>
        <th>
            Nombre Completo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)&nbsp;@Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                <button type="button" onclick="SelectPerson(@item.Id, '@item.Nombre @item.Apellido');" class="btn btn-default"> Select</button>
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    function SelectPerson(id, nombre) {
        alertify.confirm('Seleccionar', '<h2>¿Desea seleccionar a la persona?</h2> Ha seleccionado a: ' + nombre,
            function () {
                $('#PersonaId').val(id);
                $('#NombrePersona').val(nombre);
                $('#SearchModal').modal('hide');
            },
            function () {
            });
    }
</script>