<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Vendor/pace-master/themes/white/pace-theme-flash.css" rel="stylesheet" />
    <script src="~/Vendor/pace-master/js/pace.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Web Application</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.ActionLink("Personas Transaccional", "Index", "Persona", new { }, new { @class = "navbar-brand" })
                </ul>
                <ul class="nav navbar-nav">
                    @Html.ActionLink("Personas Temporal", "Index", "PersonaTemp", new { }, new { @class = "navbar-brand" })
                </ul>
                <ul class="nav navbar-nav">
                    @Html.ActionLink("Propietarios Transaccional", "Index", "Propietario", new { }, new { @class = "navbar-brand" })
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Demo - Web Application .NET With Ajax + Json + Mvc + Modals + DataNotations</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <!--Custom js-->
    <script src="~/Scripts/Common/Site.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>